<div class="common-block">
    <div class="small-pic">
        <img src=<%=image_url%>?s=50></img>
    </div>
    <div class="user-details">
        <a href="/twimini/profile/<%=id%>">@<%=username%></a>
        <div class="right-top">
            ID: <%=id%>
            <div onclick="follow_user_button(this);" onmousemove="follow_user_button_hover(this);" onmouseout="follow_user_button_out(this);" userid=<%=id%> class="fubutton following
                <%if (followed==true) {%> " following="yes"> Following  <%}%>
                <%if (followed==false) {%>  follow" following="no">  Follow  <%}%>
            </div>
        </div>
        <div class="post">
            <%=name%>
        </div>
    </div>
</div>
