<div class="left-pull">
    <div class="profile-pic">
        <img src=<%=image_url%>?s=126></img>
    </div>
    <div class="user-text">
        <span class="username"><a href="/twimini/profile/<%=id%>">@<%=username%></a></span>
        <span class="name"><%=name%></span>
        <br/>
        <span class="description"><%=description%></span>
    </div>
</div>
<div class="float-in-right details-in-right">
    <div id="fbutton" class="float-in-right following
    <%if (followed==true) {%> "> Following  <%}%>
    <%if (followed==false) {%>  follow">  Follow  <%}%>
    </div>
    <span class="float-in-right user-det"><b><%=created_at%></b></span>
    <br/>
    <span class="float-in-right user-det"><b><%=12321%></b> tweets</span>
    <br/>
    <span class="float-in-right user-det"><b><%=221%></b> followers</span>
    <br/>
    <span class="float-in-right user-det"><b><%=12%></b> following</span>
</div>