<div class="left-pull">
    <div class="profile-pic"> </div>
    <div class="user-text">
        <span class="" <%=username%>
        <%=email%>
        <%=name%>
        <%=description%>
    </div>
</div>
<div class="right-pull">
    <div class="profile-details">
        User since: <%=created_at%>
        12321 tweets
        221 followers
        12 following
    </div>
</div>