<div class="left-pull">
    <div class="profile-pic"> </div>
    <div class="user-text">
        <span class="username"><%=username%></span>
        <span class="name"><%=name%></span>
        </br>
        <span class="email"><%=email%></span>
        </br>
        <span class="description"><%=description%></span>
    </div>
</div>
<div class="right-pull">
    <div class="profile-details">
        <span class="details-in-right">
            User since: <%=created_at%>
            </br>
            <%=12321%> tweets
            </br>
            <%=221%> followers
            </br>
            <%=12%> following
        </span>
    </div>
</div>