<div class="left-pull">
    <div class="profile-pic">
        <img src=<%=image_url%>?s=126></img>
    </div>
    <div class="user-text">
        <span class="username"><a href="/profile/<%=id%>">@<%=username%></a></span>
        <span class="name"><%=name%></span>
        <br/>
        <span class="description">
            <%=description%>
            <%if (description=="") {%> <i>No description</i>  <%}%>
        </span>
    </div>
</div>
<div class="float-in-right details-in-right">
    <div id="fbutton" class="float-in-right following
        <%if (followed==true) {%> "> Following  <%}%>
        <%if (followed==false) {%>  follow">  Follow  <%}%>
    </div>
    <br/>
    <span class="float-in-right user-det"><b><%=num_tweets%></b> <i>tweets</i></span>
    <br/>
    <span class="float-in-right user-det"><b><%=num_followers%></b> <i>followers</i></span>
    <br/>
    <span class="float-in-right user-det"><b><%=num_followings%></b> <i>following</i></span>
    <br/>
    <span class="float-in-right user-det nn">
        <i>Since: </i>
        <b><%=created_at%></b>
    </span>
</div>