<div class="left-pull">
    <div class="profile-pic"> </div>
    <div class="user-text">
        <span class="username"><%=username%></span>
        <span class="name"><%=name%></span>
        </br>
        <span class="email"><%=email%></span>
        </br>
        <span class="description"><%=description%></span>
    </div>
</div>
<div id="fbutton" class="float-in-right unfollow follow" >
    Follow
</div>
<div class="float-in-right details-in-right">
    <span class="float-in-right user-det"><b><%=created_at%></b></span>
    </br>
    <span class="float-in-right user-det"><b><%=12321%></b> tweets</span>
    </br>
    <span class="float-in-right user-det"><b><%=221%></b> followers</span>
    </br>
    <span class="float-in-right user-det"><b><%=12%></b> following</span>
</div>